$yellow: #7aba1e;
$purple: #a586bb;
$blue: #4ba6c4;
$teal: #00aeb4;
$yellow: #eeb300;
$red: #f16b55;
$pink: #f05fa2;
$orange: #e88503;
$brown: #bb9966;
$grey: #aeaeae;
$white: #ffffff;

$yellow1: darken($yellow, 20%);
$yellow2: darken($yellow, 10%);
$yellow3: $yellow;
$yellow4: lighten($yellow, 10%);
$yellow5: lighten($yellow, 20%);

$purple1: darken($purple, 20%);
$purple2: darken($purple, 10%);
$purple3: $purple;
$purple4: lighten($purple, 10%);
$purple5: lighten($purple, 20%);

$blue1: darken($blue, 20%);
$blue2: darken($blue, 10%);
$blue3: $blue;
$blue4: lighten($blue, 10%);
$blue5: lighten($blue, 20%);

$teal1: darken($teal, 20%);
$teal2: darken($teal, 10%);
$teal3: $teal;
$teal4: lighten($teal, 10%);
$teal5: lighten($teal, 20%);

$yellow1: darken($yellow, 20%);
$yellow2: darken($yellow, 10%);
$yellow3: $yellow;
$yellow4: lighten($yellow, 10%);
$yellow5: lighten($yellow, 20%);

$red1: darken($red, 20%);
$red2: darken($red, 10%);
$red3: $red;
$red4: lighten($red, 10%);
$red5: lighten($red, 20%);

$pink1: darken($pink, 20%);
$pink2: darken($pink, 10%);
$pink3: $pink;
$pink4: lighten($pink, 10%);
$pink5: lighten($pink, 20%);

$yellow1: darken($yellow, 20%);
$yellow2: darken($yellow, 10%);
$yellow3: $yellow;
$yellow4: lighten($yellow, 10%);
$yellow5: lighten($yellow, 20%);

$orange1: darken($orange, 20%);
$orange2: darken($orange, 10%);
$orange3: $orange;
$orange4: lighten($orange, 10%);
$orange5: lighten($orange, 20%);

$brown1: darken($brown, 20%);
$brown2: darken($brown, 10%);
$brown3: $brown;
$brown4: lighten($brown, 10%);
$brown5: lighten($brown, 20%);

$grey1: darken($grey, 20%);
$grey2: darken($grey, 10%);
$grey3: $grey;
$grey4: lighten($grey, 10%);
$grey5: lighten($grey, 20%);

$white1: darken($white, 20%);
$white2: darken($white, 10%);
$white3: $white;
$white4: lighten($white, 10%);
$white5: lighten($white, 20%);
